html {
    font-size: 62.5%;
}

body {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.4rem;
    color: #21243D;
    font-family: 'Circe';
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}


/*Container*/
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

}
/*//Container*/

.intro {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1761px;
    height: 1190px;

}

.intro__wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.intro__left {
    position: relative;
    animation-name: left;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
    background:
    url('../images/intro__left/intro.jpg') no-repeat;
}

/*@keyframes left {
    0% {
        transform-origin: top 0%;
        transform: scale(1);
    }
    100% {
        transform-origin: center 50% 50%;
        transform: scale(1.5);
    }
}*/

.intro__content {
    position: relative;
    padding-top: 5rem;
    padding-left: 6rem;
}

.intro__subtitle h2 {
    animation: subtitle;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-play-state: running;
    animation-direction: alternate;

    position: relative;
    z-index: 1;

    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 14rem;
    font-size: 4.5rem;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

.intro__subtitle span {
    color: #D0131A;
}

@keyframes subtitle {
    0% {
        font-size: 4.5rem;
        opacity: 1;
    }
    50% {
        font-size: 4.5rem;
        opacity: 0;
    }
    100% {
        font-size: 4.5rem;
        opacity: 0;
    }
}

.intro__subtitle-opacity {
    animation: opacity;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: alternate;

    position: relative;
    top: -62px;
    left: 90px;

    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
    color: #fff;
}

.intro__subtitle-opacity span {
    color: #D0131A;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro__title {
    position: absolute;
    top: 17.7rem;
    left: 82px;
    z-index: 10;
    animation: circle;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: alternate;
    font-family: 'Roboto', sans-serif;
    font-size: 13rem;
    font-weight: 900;
    letter-spacing: -1rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 0.5;
}

@keyframes circle{
    0% {
        color: #fff;
        transform: rotate(-0deg);
        font-size: 10rem;
    }

    100% {
        color: #D0131A;
        transform-origin: 17% 194%;
        font-size: 220rem;
        transform: rotate(-90deg);
    }
}

.intro__title_slogan {
    padding-top: 9rem;
    padding-left: 5rem;

    animation-name: slogan;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: alternate;

    position: relative;
    z-index: 5;


    font-size: 12.5rem;
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
    color: #B5A3A4;
    letter-spacing: -3rem;
}

.intro__title_slogan span {
    color: #D0131A;
}

@keyframes slogan {
    0% {
        font-size: 12.5rem;
        transform: translateY(0);
    }

    100% {
        font-size: 12.5rem;
        transform: translateY(-200%);
    }
}

.intro__title_slogan-top {
    animation-name: slogan-top;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: alternate;
    position: relative;
    position: relative;
    z-index: 2;
    top: -107px;
    right: -7px;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.intro__title_slogan-top span {
    color: #D0131A;
}

@keyframes slogan-top {
    0% {
        font-size: 4.5rem;
        transform: translateY(0);
    }

    100% {
        font-size: 4.5rem;
        transform: translateY(-1000%);
    }
}



.intro__desk {
    animation-name: desk;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1.4s;
    animation-play-state: running;
    animation-direction: alternate;
    position: relative;
    top: -115px;
    right: -207px;
    width: 33.7rem;
    height: 8rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
}

@keyframes desk {
    0% {
        font-size: 1.3rem;
        transform: translateY(0);
    }

    100% {
        font-size: 1.3rem;
        transform: translateY(-1000%);
    }
}

.intro__holder {
    display: flex;
    position: relative;
    bottom: 71px;
}

.nav a {
    animation-name: nav;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: alternate;

    margin-left: 3rem;
    display: block;
    position: relative;
    z-index: 100;
    padding-bottom: 5rem;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

@keyframes nav {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-550%);
    }
}

.intro__inner {
    animation-name: inner;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    margin-left: 22rem;
    text-align: center;
    width: 419px;
    height: 419px;
    background: #fff;
}

@keyframes inner {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.intro__subject {
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: #D0131A;
    width: 264px;
}

.intro__description {
    font-size: 1.8rem;
    font-weight: 400;
    color: #333333;
    margin: 0 auto;
    width: 262px;
}

.text__inform {
    animation-name: inform;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: alternate;

    position: relative;
    top: 153px;
    left: -23px;
    z-index: 50;

    font-size: 2.2rem;
    color: #fff;
    font-weight: 300;

    width: 43.5rem;
    height: 14.3rem;
}

@keyframes inform {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-300%);
    }
}

.btn {
    animation-name: inform;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: alternate;

    display: inline-block;
    align-items: center;
    position: relative;
    top: 50px;
    left: -23px;
    z-index: 100;

    font-size: 4rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background: #F12B32;
    padding: 1rem 3rem;
}

.intro__rigth {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.intro__rich {
    animation-name: rich;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
    background: url('../images/intro__left/intro__right.jpg') no-repeat;

}

@keyframes rich {
    0% {
        transform-origin: center;
        transform: scale(1);
    }

    100% {
        transform-origin: top right;
        transform: scale(1.4);
    }
}

.intro__images_photo_1 {
    position: absolute;
    top: 0;
    right: 41%;
}

.intro__images_photo_2 {
    position: absolute;
    left: 22.5%;
    top: 0;
}

.intro__images_photo-scale {
    animation-name: photo__scale;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    overflow: hidden;
    position: absolute;
    right: 44%;
    bottom: 0%;
    width: 194px;
    height: 252px;
}

@keyframes photo__scale {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-170%);
    }
}


.scale_photo {
    animation-name: scale;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}


.intro__images_photo_animation {
    animation-name: animation;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-play-state: running;
    animation-direction: alternate;
}

@keyframes animation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-200%);
    }
}

.intro__images_play_icon {
    animation-name: icon;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    position: absolute;
    right: 48%;
    bottom: 34%;
}

@keyframes icon {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-425%);
    }
}